mddfDataFactory/PartialArmTemplates/ArmTemplate_4_18_2020_17_13_34.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mddfDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/stage1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "mddf_SanityCheck",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "BlobValidator",
							"method": "GET",
							"headers": {
								"fileName": {
									"value": "@pipeline().parameters.FileName",
									"type": "Expression"
								},
								"filePath": {
									"value": "@pipeline().parameters.FilePath",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "mddf_sanitycheck_conn",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "mddf_ParamsLookup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "mddf_SanityCheck",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "params_DataSet",
								"type": "DatasetReference",
								"parameters": {
									"paramFilePath": {
										"value": "@pipeline().parameters.ParamFilePath",
										"type": "Expression"
									},
									"paramFileName": {
										"value": "@pipeline().parameters.ParamFileName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "mddf_rawhiveloading",
						"type": "HDInsightHive",
						"dependsOn": [
							{
								"activity": "mddf_ParamsLookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": {
								"value": "@activity('mddf_ParamsLookup').output.value[0].hiveLoc",
								"type": "Expression"
							},
							"defines": {
								"srcfilelocation": {
									"value": "@concat(activity('mddf_ParamsLookup').output.value[0].hiveSourcePath,'/',pipeline().parameters.FileName)",
									"type": "Expression"
								},
								"loaddate": {
									"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
									"type": "Expression"
								}
							},
							"scriptLinkedService": {
								"referenceName": "mddf_ADLS_conn",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "mddf_hdinsight_conn",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "trigger_creation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "mddf_rawhiveloading",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "trigger_creation",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"TriggerLoc": {
									"value": "@activity('mddf_ParamsLookup').output.value[0].triggerLoc",
									"type": "Expression"
								},
								"FileNamePrefix": {
									"value": "@first(split(last(split(activity('mddf_SanityCheck').output.map.fullFilename,'/')),'.'))",
									"type": "Expression"
								},
								"SourcePath": {
									"value": "@activity('mddf_ParamsLookup').output.value[0].curationSrcPath",
									"type": "Expression"
								},
								"TargetPath": {
									"value": "@activity('mddf_ParamsLookup').output.value[0].curationDestPath",
									"type": "Expression"
								},
								"SourceTable": {
									"value": "@activity('mddf_ParamsLookup').output.value[0].srcTbl",
									"type": "Expression"
								},
								"TargetTable": {
									"value": "@activity('mddf_ParamsLookup').output.value[0].tgtTbl",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "mailTrigger",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "trigger_creation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "mailTrigger",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "yuhajobs@gmail.com",
								"Subject": "Raw Ingestion Success",
								"Message": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"FileName": {
						"type": "string"
					},
					"FilePath": {
						"type": "string"
					},
					"ParamFilePath": {
						"type": "string"
					},
					"ParamFileName": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}