pipeline/stage2.json
{
	"name": "stage2",
	"properties": {
		"activities": [
			{
				"name": "stage2ParamsLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "params_DataSet",
						"type": "DatasetReference",
						"parameters": {
							"paramFilePath": {
								"value": "@pipeline().parameters.ParamPath",
								"type": "Expression"
							},
							"paramFileName": {
								"value": "@pipeline().parameters.ParamName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "mddf_sparkactivity",
				"type": "HDInsightSpark",
				"dependsOn": [
					{
						"activity": "stage2ParamsLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"rootPath": "jars",
					"entryFilePath": "azureCuration-1.0-SNAPSHOT.jar",
					"arguments": [
						"@activity('stage2ParamsLookup').output.value[0].srcTbl",
						"@activity('stage2ParamsLookup').output.value[0].tgtTbl",
						"@activity('stage2ParamsLookup').output.value[0].tgtPath",
						"@formatDateTime(utcnow(),'yyyy-MM-dd')"
					],
					"className": "com.prad.legend.blooper",
					"sparkJobLinkedService": {
						"referenceName": "mddf_blob_conn",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "mddf_hdinsight_conn",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "mailTrigger2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "mddf_sparkactivity",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mailTrigger",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": "Curation Ingestion Failure",
						"Message": {
							"value": "@activity('mddf_sparkactivity').output",
							"type": "Expression"
						},
						"EmailTo": "rengadata@outlook.com"
					}
				}
			},
			{
				"name": "mailTrigger",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "mddf_sparkactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "mailTrigger",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "rengadata@outlook.com",
						"Subject": "Curation Ingestion Success",
						"Message": {
							"value": "Job Completed Successfully",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"ParamPath": {
				"type": "string"
			},
			"ParamName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}