pipeline/stage1.json
{
	"name": "stage1",
	"properties": {
		"activities": [
			{
				"name": "mddf_SanityCheck",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "BlobValidator",
					"method": "GET",
					"headers": {
						"fileName": {
							"value": "@pipeline().parameters.FileName",
							"type": "Expression"
						},
						"filePath": {
							"value": "@pipeline().parameters.FilePath",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "mddf_sanitycheck_conn",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "mddf_ParamsLookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "mddf_SanityCheck",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "params_DataSet",
						"type": "DatasetReference",
						"parameters": {
							"paramFilePath": {
								"value": "@pipeline().parameters.ParamFilePath",
								"type": "Expression"
							},
							"paramFileName": {
								"value": "@pipeline().parameters.ParamFileName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "mddf_rawhiveloading",
				"type": "HDInsightHive",
				"dependsOn": [
					{
						"activity": "mddf_ParamsLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scriptPath": {
						"value": "@activity('mddf_ParamsLookup').output.value[0].hiveLoc",
						"type": "Expression"
					},
					"defines": {
						"srcfilelocation": {
							"value": "@concat(activity('mddf_ParamsLookup').output.value[0].hiveSourcePath,'/',pipeline().parameters.FileName)",
							"type": "Expression"
						},
						"loaddate": {
							"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
							"type": "Expression"
						}
					},
					"scriptLinkedService": {
						"referenceName": "mddf_ADLS_conn",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "mddf_hdinsight_conn",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			},
			"FilePath": {
				"type": "string"
			},
			"ParamFilePath": {
				"type": "string"
			},
			"ParamFileName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}